@charset "UTF-8";

a{
  text-decoration:none;
  color:#095484;
  font-size:25px;
 
}
p{
  border-bottom:black solid 1px;
  width:130px;
  font-size:25px;
}
aside button {
  position:relative;
  right:10px;
  margin:10px;
  margin-top:15px;
  width:120px;
  height:40px;
  border-radius:12px;
  color:black;
  background-color:#095484;
}
aside{
    width:10%;
    height:200px;
    float:left;
    padding-top:50px;
}

.artikelBild{
   position:relative;
   left:-90px;
   top:40px;
}
#artikelBeschreibung{
    text-align:center;
    border-bottom:1px solid black;
}
img{
    width:40%;
    height:200px;
}
li{
  list-style-type: none;
  position:relative;
  left:70px;
  top:-160px;
}

#artikel{
  
  display:inline-block;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width:390px;
  height:280px;
  margin:0;
  padding:10px;
  padding-right:18px;
  
}

#menge {
   position:relative;
   left:80px;
   top: -165px;
    height: 45px;
   width: 45px;
 }
#artikelListe button{
  position:relative;
  background-color: #095484;
  color:whitesmoke;
  text-align:center;
  left:80px;
  top:-160px

}


#artikelListe table{
    position: absolute;
    height: 80%;
    width:80%;
    margin-left:120px;
    padding-right: 0px;
}





