@charset "UTF-8";

/*Aside Filter*/
a{
  text-decoration:none;
  color:#095484;
  font-size:25px;
 
}

/*Aside Filter*/
p{
  border-bottom:black solid 1px;
  width:130px;
  font-size:25px;
}

/*Aside button */ 
aside button {
  position:relative;
  right:10px;
  margin:10px;
  margin-top:15px;
  width:135px;
  height:40px;
  border-radius:12px;
  color:white;
  background-color:#095484;
  font-size:20px;
}
/*Aside allg. */
aside{
    width:10%;
    height:50%;
    float:left;
    padding-top:50px;
    padding-right:80px;
    margin:20px;
}

/* Marken */
option{
  font-size:18px;
}
/* weite select*/
#marken > select{
  width:180px
}

/***************************************************/

/* Img position */
.artikelBild{
   position:relative;
   left:-120px;
   top:60px;
}

/* Image size */
img{
    margin-right:50px;
    padding-right:30px;
}

main ul{
  position:relative;
  left:65px;
  top:-160px;
  list-style-type:none;  
}

main li{
  position:relative;
  left:150px;
  text-align:left; 
  font-size:18px;
}
main li:first-child{
  font-size:22px;
  font-weight:bold;

}
main li:last-child{
  font-size:14px;
  margin:5px 0px;
}
/* Artikel */
#artikel{
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position:relative;
  width:100%;
  height:340px;
 
  margin-bottom:20px;
 
  padding:10px;
  padding-right:20px;
  
}

/* Position input menge */
#menge {
   position:relative;
   left:65px;
   top: -165px;
   height: 45px;
   width: 65px;
 }


/* Warenkorb Button */

#artikelListe button{
  position:relative;
  background-color: #095484;
  color:whitesmoke;
  text-align:center;
  left:60px;
  top:-162px;
  height:50px;
  width:70px;
  border-radius:10px;

}
#artikelListe button:hover{
  border-radius:20px;
  background-color:aliceblue;
}
/* table size position */
#artikelListe{
    display:grid;
    column-gap:4em;
    width:80%;
    grid-template-columns:50% 50%;
    padding-top:80px;
}

