@charset "UTF-8";

aside{
    width:10%;
    height:2000px;
    float:left;
}

.artikelBild{
   position:relative;
   left:-90px;
   top:40px;
}
#artikelBeschreibung{
    text-align:center;
    border-bottom:1px solid black;
}
img{
    width:40%;
    height:200px;
}
li{
  list-style-type: none;
  position:relative;
  left:70px;
  top:-160px;
}

#artikel{
  
  display:inline-block;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width:390px;
  height:280px;
  margin:0;
  padding:10px;
  
}

#menge {
   position:relative;
   left:80px;
   top: -163px;
    height: 35px;
   width: 45px;
 }
table button{
  position:relative;
  background-color: #4CAF50;
  color:whitesmoke;
  text-align:center;
  left:80px;
  top:-160px
}

#warenkorbIcon{
    height: 45px;
    width: 45px;
}



