@charset "UTF-8";


main a{
    font-size:30px;
    color:black;
}
label{
    display:block;
    font-size:25px;
}
main aside{
	position:static;
	padding:10px;
	width:1500px;
	height:150px;
	padding:0px;
	margin-top:30px;
	

}
aside a{
	display:flex;
	margin-top:20px;
	text-decoration:underline;
}
main button{
    position:relative;
    margin:10px;
    margin-bottom:100px;
    background-color: #095484;
	padding: 16px;
	font-size: 16px;
	width:220px;
	border: none;
}
select{
    width:300px;
    height:50px;
    margin:5px;
   font-size:25px;
}

.artikelDelete{
	position:static;
	display:inline-block;
	height:305px;
	display:flex;
	top:140px;
    right:500px;
    margin-bottom:30px;
    margin-top:30px;
    padding-left:40px;
    padding-bottom:40px;
    border:4px solid black;
}
#deleteIcon{
    height: 50px;
    width: 58px;
    font-size:20px;
}