/* Autor: Olga Ohlsson */
@charset "UTF-8";

a{
  text-decoration:none;
  color:#095484;
  font-size:25px;
 
}
p{
 
  width:100%;
  font-size:19px;
}
h3 {
    font-size: 1.17em
    margin-block-end: 10px;
    font-weight: bold;
    border: 0px;
}

/* Img position */
.artikelBild{
  display:inline;

  margin-top:20px;
  padding-top:20px;

}

main ul{
 display:inline-block;
 list-style-type:none;  
 
}

main li{
  text-align:left; 
  font-size:18px;
}
main li:first-child{
  font-size:22px;
  font-weight:bold;

}
main li:last-child{
  font-size:20px;
  margin:5px 0px;
}


.control_InputButton{

  width:200px;
  position:relative;
  left:240px;

}

/* WarenkorbArtikel */
#warenkorbArtikel{
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  width:100%;
  margin-bottom:20px;
  padding:10px;
  padding-right:20px;
 
  
}

/* Position input menge */
#menge {

   height: 45px;
   width: 65px;
 }


/* Warenkorb Button */

#warenkorbArtikelList button{

  background-color: #095484;
  color:whitesmoke;

  height:50px;
  width:120px;
  border-radius:10px;

}
#warenkorbArtikelList button:hover{
  border-radius:20px;
  background-color:aliceblue;
}
/* table size position */
#warenkorbArtikelList{
   
    display:grid;
    column-gap:4em;
    width:75%;
    grid-template-columns:100%;
    padding-top:80px;
}